<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- Vue if else condition -->
      <div v-if="show">
        <h1>My name is {{ name }}</h1>
      </div>
      <div v-else>
        <h1>The name is hidden now</h1>
      </div>

      <button v-if="show" v-on:click="show = !show">Hide</button>
      <button v-else v-on:click="show = true">Show</button>
    </div>
    <script src="app.js"></script>
  </body>
</html>
